// IMPORTS

    @import "libs/reset.scss";
    @import "libs/colors";
    @import "libs/variables";
    @import "libs/mixins";


/* GENERAL */


html {
    font-size: 62.5%;
    }

* {
    color: $text;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

%shadow {
    box-shadow: 0.5rem 0.5rem 1rem $shadow;
}

.btn {
    @include flex-center;
    min-height: 5rem;
    margin: 2rem 0;
    padding: 0 2rem;
    border-radius: 5rem;
    color: $white;
    background-color: $primary;
    background: linear-gradient($secondary,$primary);
    transition: all 0.2s ease-in-out;
    @extend %shadow;

    &:hover {
        background: linear-gradient(lighten($secondary, 5%),$primary);
        box-shadow: 0.5rem 0.5rem 1rem darken($shadow, 10%);
    }
}


/* HEADER */


header {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
}

.logo {
    margin: auto;

    header & { @include title-logo; }
    footer & { @include title-logo(2rem, $white); }
}

.location {
    @include flex-center;
    width: 100%;
    height: 5rem;
    background: $grey_02;
    box-shadow: inset 0 0.2rem 0.4rem $shadow;

    &__name {
        @include icon-fa ("\f3c5");
        font-weight: 700;
        color: $title;
    }
}

.intro {
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    background: $grey_01;
    text-align: center;
    padding: 4rem;
}


/* FUNCTION */


.function {
    padding: 4rem 2rem;
}

.step-by-step {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 3rem 0 3rem 1.5rem;

    @media #{$small-up} {
        margin: 3rem 9rem 3rem 10.5rem;
    }

    @media #{$medium-up} {
        @include flex-center;
        flex-direction: row;
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
    }

}

.step {
    display: flex;
    background: $grey_01;
    border-radius: 2rem;
    padding: 2.5rem 3rem;
    position: relative;
    @extend %shadow;

    &__num {
        @include flex-center;
        background: $primary;
        color: $white;
        font-size: 1.2rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        position: absolute;
        left: -1.2rem;
    }

    &__title {
        color: $title;
        font-weight: 700;

        &--icon-1 { @include icon-fa ("\f3cd", $text); }
        &--icon-2 { @include icon-fa ("\f0ca", $text); }
        &--icon-3 { @include icon-fa ("\f54e", $text); }
    }

    &:hover {
        background: lighten($primary, 35%);

        @for $i from 1 through 3 {
            .step__title--icon-#{$i}::before {
                color: $primary;  
            }
        }
    }

    @media #{$medium-up} {
        width: 30%;
    }
}


/* RESTAURANTS */


#restaurants {
    padding: 4rem 2rem;
    background: $grey_01;
}

.grid {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media #{$small-up} {
        padding: 4rem 0;
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
}

.card {
    width: 100%;
    background: $white;
    border-radius: 1.5rem;
    position: relative;
    @extend %shadow;

    img {
        height: 17.5rem;
        width: 100%;
        border-radius: 1.5rem 1.5rem 0 0;
        object-fit: cover; 
    }

    &__new {
        font-size: 1.3rem;
        font-weight: 600;
        color: darken($tertiary, 40%);
        background: $tertiary;
        border-radius: 0.2rem;
        padding: 0.4rem 1.2rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    
    &__infos {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
    }

    &__icon {
        @include flex-center;
        padding-right: 1rem;

        .fa-heart {
            font-size: 2.5rem;
        }
    }

    @media #{$small-up} {
        width: calc(50% - 1rem);
    }
}


/* FOOTER */


footer {
    padding: 3rem 2.5rem;
    background: $footer;
    width: 100%;

    @media #{$medium-up} {
        display: flex;
    }
}

.links {
    padding-top: 2rem;

    @media #{$medium-up} {
        width: 70%;
        padding-top: 0;
        display: flex;
        justify-content: space-around;
    }

    &__link {
        color: $white;
        line-height: 1.8;

        &--icon-1 { @include icon-fa ("\f2e7", $white); }
        &--icon-2 { @include icon-fa ("\f4c4", $white); }
    }
}


