.btn {
    @include flex-center;
    min-height: 5rem;
    margin: 2rem 0;
    padding: 0 2rem;
    border-radius: 5rem;
    color: $white;
    background-color: $primary;
    background: linear-gradient($secondary,$primary);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    @extend %shadow;

    &:hover {
        opacity: 0.8;
        box-shadow: 0.5rem 0.5rem 1rem darken($shadow, 10%);
    }

    &--large {
        padding: 0 5rem;
    }
}