i.fa-heart {
    padding-right: 2rem;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 2.5rem;
    position: relative;

    &::after {
        content: '\f004';
        font-weight: 900;
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 0;
        right: 2rem;
        opacity: 0;  
    }

    &:hover::after {
        animation: heart-scale .3s ease-out .2s both;
    }  
}
  