
.heart {
    @include flex-center;
    padding-right: 2rem;
    padding-left: 2rem;
} 
  
.heart__checkbox {
    display: none;

    &:checked + .heart__check .icon {
        transform: scale(0);
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0;
        animation: icon .3s ease-out .2s forwards;
    }
}
  
.heart__check {
    transition: border .3s ease;
    
    i.icon {
        opacity: 0.8;
        font-size: 2.5rem;
        color: $white;
        transition: opacity .3s .1s ease;
        -webkit-text-stroke: 0.2rem $title;
    }
}
  
@keyframes icon {
    0% {
        opacity: 0.4;
        transform: scale(0.3);
    }
    40% {
        transform: scale(1.1);
    }
     60%{
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }
  
  
  