#loader {
    position: absolute;
    top: 0;
    background: $primary;
    width: 100%;
    height: 100vh;
    z-index: 10;
    animation: fadeout 0.2s ease-out 3s both;
    @include flex-center;

    i {
        color: $white;
        font-size: 2.6rem;
        position: absolute;
        animation: switch-to-left 1.5s linear both infinite;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 0.5}s; 
            }
        }
    }
}